@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
}
/* Footer */

.footer{
    position: relative;
    top: 80px;
    height: 600px;
    width: 100%;
    bottom: 0px;
    background: linear-gradient(to right, #00093c,#2d0b00);
    margin-top: -150px;
}

.firstpart{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sitebox{
    position: absolute;
    transform: translate(-20%,-20%);
    right: 0px;
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site h3{
    font-weight: 900;
    margin-bottom: 12px;

}
.site a{
    color: white;
    font-weight: 100;
    font-size: 0.8rem;
    text-decoration: none;
    position: relative;
    display: block;

}
.siteone a::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 2px;
    background: #B31312;
    border-radius: 100px;
    transform: scale(0);
    transition: transform .3s;

}
.sitetwo a::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 2px;
    background: #B31312;
    border-radius: 100px;
    transform: scale(0);
    transition: transform .3s;

}
.site a:hover::after{
    transform: scale(1);
}


.sitethree a{
    text-decoration: none;
    font-weight: 100;

}
.sitethree i{
    
    margin-right: 15px;
    margin-top: 5px;
    transition: 0.5s;
}
.sitethree a:hover i{
    color: #B31312;
}




.logobox{
    width: 35%;
    margin-left: 220px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logobox p{
    color: white;
    text-align: justify;
    text-align-last: center;
}
.para{
    text-decoration: underline;
    color: white;
    width: 67%;
    text-align: center;
    margin-bottom: 15px;
}
.slider{
    margin-left: 80px;
    position: relative;
    display: flex;
    justify-content: flex-start;

}
.brandbox{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    max-width: 840px;
    width: 100%;
}

.brandbox i{
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}
.brandbox i:first-child{
    left: -60px;
}
.brandbox i:last-child{
    right: -60px;
}

.brandbox .brands{
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: calc((100%/3) - 12px); */
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
    
}
.brands::-webkit-scrollbar{
    display: none;
}

.brands .card{
    scroll-snap-align: start;
    /* height: 342px; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card .img img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 12px;
     
}

.social{
    position: absolute;
    bottom: 110px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.social p{
    color: white;
}
.icon p{
    font-size: 2rem;
}
.icon a{
    font-size: 2rem;
    color: #B31312;
}
.icon{
    display: flex;
    column-gap: 10px;
}
.bottomend{
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 0.7rem;

}
/* Footer */